/*
 * Written by Zain Afzal
 * 21/6/2018
 * Box shadow from https://codepen.io/sdthornton/pen/wBZdXq
 */

 .content {
   display: flex;
   justify-content: left;
   align-items: center;
   width: 100vw;
   height: 100vh;
 }

.groups {
  width: 30%;
  height: 100%;
  align-content: flex-start;
}

.group {
  width: 90%;
  margin: 1%;
  border-left: 3px solid #00C9FF;
}

.group .name {
  font-size: 1rem;
  color: #777;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin-left: 1rem;
}

.group .members {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.group .members img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #0081AF;
}
