/*
 * Written by Zain Afzal
 * 21/6/2018
 * Box shadow from https://codepen.io/sdthornton/pen/wBZdXq
 */

body {
  margin: 0px;
  background: #00C9FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
i {
  color: white;
  margin-right: 1rem;
}
.info i{
  color: #777;
  margin-right: 1rem;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card {
  background-color: rgba(255,255,255,1);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card .section {
  width: 100%;
}
.card .section.top {
  height: 30%;
}
.card .section.bottom {
  height: 60%;
  margin-top: 10%;
}

.card h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #444;
}
.card h2{
  font-family: 'Montserrat', sans-serif;
  color: #BBB;
  font-size: 0.9rem;
}
.card h3{
  font-family: 'Montserrat', sans-serif;
  color: #777;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card-auto-adjust {
  width: 400px;
  height: 450px;
}

.info {
  width: calc(100%-2rem);
  text-align: left;
  background-color: #EBEBEB;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
.action-container {

}

.action-container .facebook {
  width: 60%;
  font-size: 0.875em;
  text-align: center;
  border: none;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1.1rem;
  background-color: rgb(66, 103, 178,1);
  border-radius: 1.078em;
  cursor: pointer;
  outline: none;
}
.action-container .facebook:focus {
  border: none;
  text-decoration: none;
  outline: none;
}
.action-container .facebook:hover {
box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}
